@theme {
  --color-primary: #328af1;
  --color-muted: #64748b;
  --color-default: #222222;
  --color-title: #293745;
  --color-graysec: #f2f5fa;
  --color-accent: #6559ff;
  --color-dash-header: #e6f0ff;
  --color-blue-text: #005AD9;

  
  --font-inter: "Inter", sans-serif;
  --font-main: "SquareSansText", sans-serif;
  --font-app: "SquareSansTextVF", sans-serif;
  --font-display: "SquareSansDisplayVF";
  --font-a1: "SquareSansDisplay";
  --font-a3: "SquareSansTextUprightVF";

  --text-tiny: 0.9rem;
  --animate-scrolling: scrolling var(--marquee-animation-duration) linear
    infinite;
  --animate-spin: spin 1s linear infinite;
  --spacing-limit: 1900px;

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(
        calc(
          -1 * (var(--marquee-element-width) + var(--marquee-gap)) * var(--marquee-elements)
        )
      );
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
