@tailwind utilities;

@import "tailwindcss";
@import "tailwindcss/preflight";
@import "./styles/base.css";
@import "./styles/components.css";
@import "./styles/buttons.css";
@import './assets/styles/fonts.css';


@theme {
  --color-primary: #328af1;
  --color-muted: #64748B;
  --color-default: #222222;
  --color-graysec: #F2F5FA;
  --font-inter: 'Inter', sans-serif;
  --font-main: 'SquareSansText', sans-serif;
  --font-display: 'SquareSansDisplayVF';
  --font-a1: 'SquareSansDisplay';
  --font-a3: 'SquareSansTextUprightVF';


  --text-tiny: 0.9rem;
  --animate-scrolling: scrolling var(--marquee-animation-duration) linear infinite;
  --spacing-limit: 1900px;
   @keyframes scrolling {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-1 * (var(--marquee-element-width) + var(--marquee-gap)) * var(--marquee-elements)));
        }
    }
  

}


:root {
    /* --font-text: 'SquareSansText', sans-serif;
    --font-text-vf: 'SquareSansTextVF', sans-serif;
    --font-text-upright-vf: 'SquareSansTextUprightVF', sans-serif; */

    --marquee-width: 1000px;
    --marquee-height: 200px;
    --marquee-elements-displayed: 5;
    --marquee-gap: 3rem;
    --marquee-element-width: calc((var(--marquee-width) / var(--marquee-elements-displayed)) - var(--marquee-gap));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}



body {
  font-family: 'SquareSansTextVF', 'Consolas';
}



