@import url('fonts.css');
@import url('footer.css');
@import url('quick.css');

:root {
    --screen-sm: 420px;
    --screen-md: 768px;
    --screen-lg: 992px;

    --font-display: 'SquareSansDisplay', sans-serif;
    --font-display-vf: 'SquareSansDisplayVF', sans-serif;
    --font-text: 'SquareSansText', sans-serif;
    --font-text-vf: 'SquareSansTextVF', sans-serif;
    --font-text-upright-vf: 'SquareSansTextUprightVF', sans-serif;


    --font-weight-medium: 500;
    --font-weight-bold: 700;


    --header-height: 80px;

    --marquee-width: 1000px;
    --marquee-height: 200px;
    /* --marquee-elements: 12; */
    /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-gap: 3rem;
    --marquee-element-width: calc((var(--marquee-width) / var(--marquee-elements-displayed)) - var(--marquee-gap));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);


}




html,
body {
    height: 100%;
}

body {
    font-family: var(--font-text-vf);
    background-color: #ffffff;
    color: #293745;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a,
button,
img {
    user-select: none;
    -webkit-user-drag: none;
}

a,
a:visited,
a:hover,
a:active {
    /* color: inherit; */
    text-decoration: none;
}

ul {
    list-style: none;
}

a, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    margin: auto;

    @media screen and (min-width: 768px) {
        width: 80%;

    }
}


.content {
    height: 100%;
    position: relative;
}

.content__intro {
    /* background-image: url('../assets/images/bg.webp'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;


    @media screen and (min-width: 600px) {
        height: calc(100% - 80px);

    }
    &::after {
        content: "";
        background: linear-gradient(180deg, #fff 0, #f3f6fb 50%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

}


.container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;


    @media screen and (min-width: 600px) {
        flex-direction: row;
        justify-content: center;
    }
}


.main-btn {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;

    background-color: #0AF;
    border: 0px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;

    @media screen and (min-width: 600px) {
        width: unset;
        padding: 1rem 3rem;
    }
}

.vw-lg {
    display: none;

    @media screen and (min-width: 992px) {
        display: block;
    }
}

.vw-sm {
    display: block;

    @media screen and (min-width: 991px) {
        display: none;
    }
}

@media (max-width: 600px) {
    html {
        /* font-size: 12px; */
    }

    :root {
        --marquee-width: 100%;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }

}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* .btn-main {
    margin: 1.5rem 0;
    background-color: #6559ff;
    border-color: transparent;
    color: #fff;
    padding: .6666666667rem 1rem;
    border-radius: .75rem;
    font-size: clamp(12px, 16px, 140px);
    min-height: 3rem;
    min-width: 3rem;
    font-weight: 500;
    font-family: var(--font-text-vf);
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
        background-color: #4740d4;
    }

} */


